#--------------------------------------------
# Project settings
#--------------------------------------------
PROJECT_NAME="orion"
PROJECT_DESCRIPTION="Orion API"
PROJECT_AUTHOR_NAME="John Doe"
PROJECT_AUTHOR_EMAIL="john@doe.org"
PROJECT_VERSION="0.0.1"


#--------------------------------------------
# API settings
#--------------------------------------------
API_HOST="0.0.0.0"
API_PORT="7000"
API_PREFIX="/api"
CORS_ALLOW_ALL_ORIGINS="true"


#--------------------------------------------
# Python interpreter settings 
#--------------------------------------------
PYTHON_VERSION="3.12"